<div id="footer">
    <ul id="contact-info">
		   	<li id="email" ng-bind-html="writeEmailAddressInfo()"></li>
	        <li id="phone">{{writePhoneNumber()}}</li>
	        <li id="address"><address>39 West 19th Street, New York, NY  10011</address></li>		            
		</ul>
		<br class="fixclear" />
    <div id="copyright">&copy; 2010 The New York Conservatory for Dramatic Arts</div>
    <ul id="site-info">
			<li class="first"><a href="../extra/sitemap.html">Site Map</a></li>
			<li><a href="../extra/legal.html">Legal Information</a></li>
            <li><a href="http://www.sft.edu/generalinfo/privacy-policy.html">Privacy Policy</a></li>
		</ul>
    <br class="fixclear" />
  </div>