<div id="header">
		<strong id="logo">
			<a href="/">
				<img src="../_includes/images/buttonimages/2.jpg" title="SFT Home" border="0"/>
			</a>
		</strong>
		
		<div class="navbuttons">
        	<a id="header-course-catalog" href="https://admission.sft.edu/Datatel.eRecruiting.Web.External/Pages/createaccount.aspx?f=30f00b68-a81c-4942-8c0e-22e71bff9038">
        		<img src="../_includes/images/buttonimages/4.jpg" alt="request a catalog" border="0" id="Image1" onmouseover="MM_swapImage('Image1','','../_includes/images/buttonimages/4R.jpg',1)" onmouseout="MM_swapImgRestore()" />
        	</a>
       		<a id="header-vip" href="https://admission.sft.edu/Datatel.ERecruiting.Web.External/Pages/Login.aspx">
       			<img src="../_includes/images/buttonimages/3.jpg" alt="vip login" border="0" id="Image2" onmouseover="MM_swapImage('Image2','','../_includes/images/buttonimages/3R.jpg',1)" onmouseout="MM_swapImgRestore()" />
       		</a>
        	<a id="header-book-audition" href="https://admission.sft.edu/Datatel.eRecruiting.Web.External/Pages/Events.aspx">
        		<img src="../_includes/images/buttonimages/2.jpg" alt="book your audition" border="0" id="Image3" onmouseover="MM_swapImage('Image3','','../_includes/images/buttonimages/2R.jpg',1)" onmouseout="MM_swapImgRestore()" />
        	</a>
        	<a id="header-get-degree" href="../programs/degree.html">
        		<img src="../_includes/images/buttonimages/1.jpg" alt="get your degree" border="0" id="Image4" onmouseover="MM_swapImage('Image4','','../_includes/images/buttonimages/1R.jpg',1)" onmouseout="MM_swapImgRestore()" />
        	</a>
        </div>
  </div>